<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <h1 class="logo">Logo</h1>
        <div class="links">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <a href="#tech">Technology</a>
        </div>
        <a href="model.html" class="test-model-btn">Test Model</a>
    </nav>
</body>
</html>