<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/model.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/"> < Go back to main page </a>
    </header>
    <main>
        <form id="preForm" method="post" enctype="multipart/form-data" action="http://127.0.0.1:5000/model.html">
            <h2>Patient Details</h2>
            <div class="form-main-container">
                <div class="image-container">
                    <img id="new-image" src="../static/css/logo/model/image-place-holder.png" alt="">
                    <input type="file" id="image" class="select-image" name="image" accept="image/*" required>
                    <label for="image">Upload image</label>
                </div>
                <div class="form-container">
                    <h4>Select Gender</h4>
                    <div class="radio-container">
                        <input type="radio" id="mgender" name="gender" value="M" required>
                        <label for="mgender">Male</label>
                        <input type="radio" id="fgender" name="gender" value="F" required>
                        <label for="fgender">Female</label>
                    </div>
                    <input type="text" id="age" name="age" placeholder="Enter your age" required>
                    <select name="cancerType" id="cancerType" class="cancer-type">
                        <option disabled selected hidden>Select an option</option>
                        <option value="No Findings">No Findings</option>
                        <option value="Cardiomegaly">Cardiomegaly</option>
                        <option value="Atelectasis">Atelectasis</option>
                        <option value="Emphysema">Emphysema</option>
                        <option value="Effusion">Effusion</option>
                        <option value="Hernia">Hernia</option>
                        <option value="Nodule">Nodule</option>
                        <option value="Pneumothorax">Pneumothorax</option>
                        <option value="Pleural Thickening">Pleural Thickening</option>
                        <option value="Mass">Mass</option>
                        <option value="Edema">Edema</option>
                        <option value="Consolidation">Consolidation</option>
                        <option value="Infiltration">Infiltration</option>
                        <option value="Fibrosis">Fibrosis</option>
                        <option value="Pneumonia">Pneumonia</option>
                    </select>
                    <h4>Select view type</h4>
                    <div class="radio-container">
                        <input type="radio" id="viewap" name="view" value="AP" required> 
                        <label for="viewap">AP</label>
                        <input type="radio" id="viewpa" name="view" value="PA" required>
                        <label for="viewpa">PA</label>
                    </div>
                    <input type="submit" class="submit">
                </div>
            </div>
        </form>
        <div class="response-text">
            <p id="output">Your diagnosis will be updated here</p>
        </div>
    </main>
    <script>
        const inputImage = document.getElementById('image')
        const newImage = document.getElementById('new-image')
        inputImage.onchange = function () {
            newImage.src = URL.createObjectURL(inputImage.files[0])
        }

        const APIURL = 'http://127.0.0.1:5000/model.html'
        const preForm = document.getElementById('preForm')
        const response_block = document.getElementsByClassName('response-text')
        preForm.addEventListener('submit', async (e) => {
            e.preventDefault()
            const cancerType = document.getElementById("cancerType").value
            const data = new FormData(preForm)
            const response = await fetch(APIURL, {method:'POST', body:data})
            const prediction = await response.json()
            output = document.getElementById('output')
            if (prediction <= 10){
                output.innerHTML = `It seems that there isn't enough patterns to identify cancer in the given image. Please verify whether the input fields are valid and try submitting a clear image.`
            }
            if (prediction > 10 && prediction <= 40){
                output.innerHTML = `According to the model, only <span>${prediction}%</span> of the patterns indicate traces of <span>${cancerType}</span>. Try submitting more X-Ray images to further validate the results.`
            }
            else if(prediction > 40 && prediction <= 70){
                output.innerHTML = `According to the analysis the model has identified about <span>${prediction}%</span> of <span>${cancerType}</span> present in the provided X-Ray. It would be best to consult to a doctor for further treatment and medication.`
            }
            else if(prediction > 70 && prediction <= 100){
                output.innerHTML = `The patterns for <span>${cancerType}</span> match up about <span>${prediction}%</span> according to the model. This signifies that the cancer is in a later stage and the patient must seek immediate medical attention from professionals.`
            }
            else{
                output.innerHTML = `Looks like there are some input fields missing or an invalid file being processed, try submitting different X-Ray images for better results. Please try to give valid inputs.`
            }
        })
    </script>
</body>
</html>