:root{
    --bgColor: #16161a;
    --bgColor2: #242629;
    --headerColor: #fffffe;
    --paraColor: #94a1b2;
    --btnColor: #7f5af0;
    --btnText: #fffffe;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}

.about{
    height: 130vh;
    padding: 5% 10%;
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.about-heading{
    text-align: center;
    color: var(--headerColor);
}

.about-heading h1{
    font-size: 35px;
}

.about-heading p{
    font-size: 20px;
}


.about-content{
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-cards{
    /* margin: 2em; */
    height: 30vh;
    width: 38.7vw;
    background-color: var(--bgColor2);
    border-radius: 10px;
    box-shadow: 0px 2px 20px 0.5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    color: var(--paraColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: justify;
    padding: 0 1rem;
    & h2{
        color: var(--headerColor);
    }
}

.about-title{
    display: flex;
    align-items: center;
    gap: 2rem;
    & img{
        border-radius: 10px;
        border: 2px solid var(--btnColor);
        height: 50px;
        width: 50px;
        padding: 1rem;
    }
}

.about-cards:hover{
    transition: 0.2s;
    box-shadow: 0px 2px 20px 0.5px rgba(99, 99, 99, 0.2);
}