:root{
    --bgColor: #151519;
    --bgColor2: #242629;
    --headerColor: #fffffe;
    --paraColor: #94a1b2;
    --btnColor: #7f5af0;
    --btnText: #fffffe;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}

::placeholder{
    color: var(--paraColor);
}

.contact{
    height: 100%;
    padding: 5% 10%;
    background-color: var(--bgColor);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4em;
    & h1{
        color: var(--headerColor);
        font-size: 35px;
    }
}

.contact-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact-form-container{
    background-color: var(--bgColor2);
    border-radius: 10px;
    box-shadow: 0px 2px 20px 0.5px rgba(0, 0, 0, 0.2);
    padding: 0vh 3vw;
    height: 45vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    & h3{
        color: var(--headerColor);
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    & input{
        height: 2rem;
        width: 100%;
        background-color: var(--bgColor2);
        border: 3px solid var(--bgColor);
        border-radius: 10px;
    }
    & textarea{
        height: 6rem;
        width: 100%;
        background-color: var(--bgColor2);
        border: 3px solid var(--bgColor);
        border-radius: 10px;
        resize: none;
    }
    & button{
        height: 3rem;
        width: 6rem;
        background-color: var(--btnColor);
        border: none;
        border-radius: 7px;
        color: var(--btnText);
        font-size: 20px;
    }
}

.contact-detail-container{
    display: flex;
}

.contact-info{
    background-color: var(--bgColor2);
    border-radius: 10px;
    box-shadow: 0px 2px 20px 0.5px rgba(0, 0, 0, 0.2);
    padding: 3vh 3vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: var(--headerColor);
}

.contact-labels{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.contact-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    & a{
        color: var(--headerColor);
    }
}

