:root{
    --bgColor: #16161a;
    --bgColor2: #242629;
    --headerColor: #fffffe;
    --paraColor: #94a1b2;
    --btnColor: #7f5af0;
    --btnText: #fffffe;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url('../fonts/product-sans/Product Sans Regular.ttf');
}

html::-webkit-scrollbar{
    width: 7px;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--btnColor);
}

html::-webkit-scrollbar-track{
    background-color: var(--bgColor);
}

html{
    scroll-behavior: smooth;
}

* {
    font-family: 'Product Sans Regular';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    height: 90vh;
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgColor);
    color: var(--headerColor);
    font-size: 45px;
}

.main-text{
    width: 50%;
    text-align: justify;
    & span{
        color: var(--btnColor);
    }
}

.tryBtn{
    font-size: 25px;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    color: var(--btnText);
    background: var(--btnColor);
    border-radius: 7px;
}

.lung-inner{
    animation: lungsAnimation 1.5s linear infinite alternate;
}

@keyframes lungsAnimation {
    from{
        filter: drop-shadow(0 0 0px #7f5af0);
    }
    to{
        filter: drop-shadow(0 0 2px #7f5af0);
    }
}