:root{
    --bgColor: #16161a;
    --bgColor2: #242629;
    --headerColor: #fffffe;
    --paraColor: #94a1b2;
    --btnColor: #7f5af0;
    --btnText: #fffffe;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}
